#skills {
    background-color: @alternate-bg;
    top: 800px;
}

.title {
   .flex-display;
   .flex-wrap;
   .flex-start;
}

.title img {
    width:  15%;
    height: 15%;
    margin: 19px 32px 14px 0;
}

 h3 {
        margin: 100px 0 140px 125px;
    }

@media (min-width: 640px) and (max-width: 1340px){
    
    .title img {
    width: 10%;
    height: 10%;
}
}

@media(min-width: 1344px) {
    h3 {
        margin: 100px 0 140px 329px;
    } 
    
        .title img {
        width: 7%;
        height: 7%;
        margin: 30px;
        display: flex;
    }
    
}