body{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 1.7;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

.top {
    display: block;
    float: left;
    width: 23%;
    background-color: #f0f0f0;
    min-height: 56em;
}

.top a {
    text-decoration: none;
    color:#747474;
    font-size: 18px;
    font-weight: 400;
}

.top ul {
    list-style: none;
    padding: 0;
}

.top li {
    padding: 0.5em 2.8em;
    
}



/* link odwiedzony */

.top a:visited {
	color: #414141;
}

.top li:hover{
    background-color: #fdfdfd;
}

.top a:hover{
    color: #047979;
}

.logo{
    box-sizing: border-box;
    padding: 2em 2.5em 0 2.8em;
}

article {
    display: block;
    float: left;
    width: 47%;
    padding: 0 2.5em;
    box-sizing: border-box;
}

article img{
    width: 30%;
}

figure{
    margin: 0;
}

aside{
    display: block;
    float: left;
    width: 30%;
    background-color: #f0f0f0;
    padding:0.5em;
    box-sizing: border-box;
    height: 34em;
}

footer {
    clear: both;
    background-color: #747474;
    color: #fdfdfd;
    height: 2em;
    padding: 1.5em;
}

@media only screen and (max-width: 50em) {
    .top{
        width: 100%;
        min-height: 0;
    }
    
    .logo{
        float: left;
        display: block;
        width: 20%;
        padding-bottom: 14px;
        padding-top: 18px;
    }
    
    nav{
        width: 80%;
        display: block;
        float:left;
    }
    
    .top li{
        padding: 0.2em 1.25em 0.4em 1.25em;
        margin: 0;
        float: left;
    }
    
    article{
        width: 80%;
    }
    
    aside{
        width: 20%;
    }
    
}

@media only screen and (max-width: 26em) {
    
    p{
        font-size: 0.9em;
    }
    aside{
        display: none;
    }
    
    .logo{
        padding: 1.1em 0.3em;
        margin:0;
        
    }
    .top li{
        padding: 0.2em;
    }
    .top a{
        font-size: 16px;
    }
    h1{
        font-size: 1.5em;
    }
}